.signBtn {
  background-color: #ff5ca0;
  color: white;
  border-color: transparent;
}

.signBtn:hover, .isGoing {
  background-color: #ff4c97;
  color: white;
  border-color: transparent;
}

.signBtn:active {
  background-color: #ff5ca0;
  color: white;
  border-color: transparent;
}

.navbar, .postHeader, .commentHeader, .isComment, .deetsHeader {
  background-color: #9be1ff;
}

.navLeft:hover {
  color: black !important;
  background-color: #7ed8ff !important;
}

.profileColumn {
  margin-top: 20px;
}

.userProfile {
  border-style: solid;
  border-width: 1px;
  border-color: #bebebe;
}

.userProfileImage {
  margin-top: 10px;
  height: 120px;
  width: auto;
}

.columns {
  margin-left: 0px;
  margin-right: 0px;
}

/* .is-warning {
  color: white;
} */

.isReport {
  background-color: red;
}

.Description {
  line-height: 2;
}

/* .seeMore {
  
  padding: 5px;
  margin-top: 3px;
  background-color: #666264;
  color: white;
  border-color: transparent;
} */

ul {
  list-style-type: none;
}

.commentHeader {
  box-shadow: none;
}

.tileContent {
  margin-top: auto;
}