.signBtn {
  background-color: #ff5ca0;
  color: white;
  border-color: transparent;
}

.signBtn:hover {
  background-color: #ff4c97;
  color: white;
  border-color: transparent;
}

.signBtn:active {
  background-color: #ff5ca0;
  color: white;
  border-color: transparent;
}

.navbar {
  background-color: #9be1ff;
}

.navLeft:hover {
  color: black !important;
  background-color: #4bc9ff !important;
}

.login-column {
  margin-top: 20px;
}